<p>child works!</p>
<!--START This code depicts, how we can transfer parent component data into child component -->
<p>{{someOtherName}} written in child component</p>
<!--END This code depicts, how we can transfer parent component data into child component -->


<!-- start This code depicts, how we can transfer CHILD component data into PARENT component -->
<button (click)="fireEvent()">Send Event</button>
<!-- end This code depicts, how we can transfer CHILD component data into PARENT component -->