<h1>Hello World</h1>
<!-- <app-test></app-test>
<app-structural-directives></app-structural-directives>
<app-parent></app-parent> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-parent></app-parent> 


<router-outlet></router-outlet>
<nav>
<a routerLink="/test" routerLinkActive="active">Test</a>
<a routerLink="/struct" routerLinkActive="active">Struct</a>

</nav>